
# Created by https://www.gitignore.io/api/netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbactions.xml

# me


# Netbeans
!/src/com/hq/apktool/arsc/
/src/com/hq/jadb/manager/JadbDevicePackages.java
/src/com/hq/jadb/manager/JadbDeviceBatteryStatus.java
/src/com/hq/apktool/
/src/com/hq/jadb/JadbDeviceManager.java
/src/com/hq/jadb/MyFile.java
/src/com/hq/jadb/Jadb.java
/src/com/hq/jadb/JadbDevice.java
/src/com/hq/jadb/engine/JadbDeviceWatcherListener.java
/src/com/hq/jadb/engine/JadbStatics.java
/src/com/hq/jadb/engine/JadbDeviceWatcher.java
/src/com/hq/jadb/engine/JadbTransport.java
/src/com/hq/jadb/engine/JadbException.java
/src/com/hq/jadb/engine/JadbSyncTransport.java